[color]
  ui = true
[alias]
  pu = push
  ci = commit
  co = checkout
  cp = cherry-pick
  cor = !git co `git br | grep $1`
  br = branch
  st = status
  dt = difftool
  ca = !git add . && git commit -am
  phm = push heroku main
  rtw = !sh -c 'echo "***Original status" && git st && git add . && git checkout --force && echo "***Final status" && git st'
  wip = !git st && git add . && git ci -am "[WIP]" && git st
  unwip = !git reset HEAD^ && git st
  rewrite = rebase -i HEAD~10
  br-dmerge = git br --merged | grep -v "^*" | xargs -n 1 git br -d && git br
  br-dmerged = !git co main && git pull && git remote prune origin && git br --merged | grep -v "^*" | xargs -n 1 git br -d && git br
  yolo = !git add . && git ci --amend && git push --force 
[push]
  default = current
[pull]
  rebase = true
[mergetool "diffmerge"]
  cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = true
[diff]
  tool = bc3
[merge]
  tool = bc3
[mergetool]
  bc3 = trustExitCode
[difftool]
  prompt = false
[user]
	name = Miguel Madero
	email = git@miguelmadero.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/mmadero/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[init]
	defaultBranch = main
